<app-banner-principal></app-banner-principal>

<div class="container py-4">
@if(mediasPopulares$ |async; as respostaMidiasPopulares){
<div class="d-flex align-items-center gap-3">
    <h2 class="fs-4 mb-0">Populares</h2>

    <div class="btn-group rounded-pill overflow-hidden" role="group">
      <input (change)="mediasPopularesSubject$.next(tipoMedia.Filme)" checked="true" type="radio" class="btn-check"
        name="tipoMidiasPopulares" id="radioMidiasPopularesFilmes">
      <label for="radioMidiasPopularesFilmes" class="btn btn-sm btn-outline-primary border-0">Filmes</label>
      <input (change)="mediasPopularesSubject$.next(tipoMedia.Tv)" type="radio" class="btn-check"
        name="tipoMidiasPopulares" id="radioMidiasPopularesTv">
      <label for="radioMidiasPopularesTv" class="btn btn-sm btn-outline-primary border-0">TV</label>
    </div>
  </div>

    <app-carossel-midias [tipoMidia]="respostaMidiasPopulares.type" [midias]="respostaMidiasPopulares.results"></app-carossel-midias>

}


  @if(mediasMaisVotadas$ |async; as respostaMidiasMaisVotadas)
  {
      <div class="d-flex align-items-center gap-3 mt-4">
    <h2 class="fs-4 mb-0">Mais Votados</h2>

    <div class="btn-group rounded-pill overflow-hidden" role="group">
      <input (change)="mediasMaisVotadasSubject$.next(tipoMedia.Filme)" checked="true" type="radio" class="btn-check"
        name="tipoMidiasMaisVotadas" id="radioMidiasVotadasFilmes">
      <label for="radioMidiasMaisVotadasFilmes" class="btn btn-sm btn-outline-primary border-0">Filmes</label>
      <input (change)="mediasMaisVotadasSubject$.next(tipoMedia.Tv)" type="radio" class="btn-check"
        name="tipoMidiasMaisVotadas" id="radioMidiasMaisVotadasTv">
      <label for="radioMidiasMaisVotadasTv" class="btn btn-sm btn-outline-primary border-0">TV</label>
    </div>
  </div>

    <app-carossel-midias [tipoMidia]="respostaMidiasMaisVotadas.type" [midias]="respostaMidiasMaisVotadas.results"></app-carossel-midias>
  }


  @if(filmesEmCartaz$ | async; as filmesEmCartaz)
  {
  <h2 class="fs-4 mb-0 mt-4">Filmes em Cartaz</h2>
  <app-carossel-midias [tipoMidia]="tipoMedia.Filme" [midias]="filmesEmCartaz.results"></app-carossel-midias>
  }
</div>
